.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #888888;
  height: 75px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
  border: gray;
  border-style: dashed;
  padding: 1em;
}

.Outer-list {
  border-style: dotted;
  border-color: grey;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(180deg); }
}

.list {
  list-style: none;
}

.task {
  color: red;
  text-align: left;
  padding: 5px;
  border-style: solid;
  border-color: paleturquoise;
  border-radius: 10px;
}